################################################
############ TERMINAL SNAKE DIR ################

# output files
output

# docs folder
docs

# start_game symlink
start_game

################################################
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#
